body {
  font-family: 'Lato', sans-serif;
  background-image: url('https://static.pexels.com/photos/1459/street-car-vehicle-blur.jpg');
  background-position: center top;
  background-size: cover;
  margin: 60;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

img-medium {
    height: 100px;
}

#title {
  font-family: Georgia, serif;
  text-align: center;
}
